<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MusicGen with RLHF</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <style>
        /* Custom CSS for centering */
        .centered-container {
            display: flex;
            flex-direction: column; /* Changed to column */
            justify-content: center;
            align-items: center;
            height: 100vh;
            /* Adjust if needed */
        }

        /* Custom CSS for placeholder */
        ::placeholder {
            font-style: italic;
            color: #00F00F;
        }
    </style>
</head>

<body style="background-color: #161616;">

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="centered-container">
                    <h1 class="display-1 text-white text-center mb-4">MusicGen with RLHF</h1>
                    <div class="input-group input-group-lg mb-2">
                        <input type="text"
                            class="form-control bg-black text-center text-white focus-ring focus-ring-light py-3 px-2 text-decoration-none border rounded-5 fs-3"
                            id="music-input" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"
                            placeholder="Compose a musical masterpiece here...">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Array of quippy prompts
        const quippyPrompts = [
            "Compose a musical masterpiece here...",
            "Let the melodies flow...",
            "Craft your own symphony...",
            "Create tunes that move souls...",
            "Start your music adventure...",
            "Immerse yourself in the rhythm...",
            "Inspire the world with your music...",
            "Transform ideas into melodies...",
            "Embark on a musical journey...",
            "Unleash your inner composer..."
        ];

        // Select a random prompt
        const randomPrompt = quippyPrompts[Math.floor(Math.random() * quippyPrompts.length)];

        // Set the random prompt as the placeholder for the input box
        document.getElementById("music-input").placeholder = randomPrompt;
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>
